@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

////// GENERAL //////

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

p {
	font-weight: 300;
}

html, body {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

body {
	background-image: url(../images/greenBackTrimd.jpg);
	background-size: cover;
	background-attachment:fixed
}

////// HEADER //////

header {
    font-family: $font-family-sans-serif;
    background-color: $olive;
    color: $khaki;
    padding: 2em 14em 2em 2em;

	a i {
	    color: rgba($khaki, 0.5);
	}
	a:hover i {
	    color: rgba($khaki, 1);
	}
	a img {
	    opacity: .5;
	}
	a:hover img  {
	    opacity: 1;
	}

	h2, h3 {
	    color: $khaki;
	    margin: 0;
	    letter-spacing: 1px;
	}

	h2 {
	    font-size: 200%;
	    font-weight: 600;
	}

	h3 {
	    font-size: 120%;
	    font-weight: 400;
	}
}

.contact {
    position: absolute;
    right: 2em;
    top: 3em;
}

.icon:before {
    font-size: 2em;
    margin-right: .3em;
}

#galogo img {
    width: 33px;
    margin-bottom: 10px;
}

////// MAIN //////

main {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

////// BIO BOXES //////

.bio {
    background-color: $dark_blue;
    border: 20px solid rgba($khaki, 0.5);
    background-clip: padding-box;
    border-radius: 10px;
    color: $khaki;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.2rem 1.5rem;
    max-width: 900px;
    margin: 40px auto 40px 0;

	p:last-of-type {
	margin-bottom: 0;
	}

	strong {
	  font-weight: 400;
	}
}

////// PROJECT BOXES //////

.project {
    width: 48%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    a {
	    font-family: $font-family-sans-serif;
	    font-weight: bold;
	    color: saturate(lighten($dark_purple, 12), 8);
	}
    a.semiLink {
	    font-weight: 600;
	}

	a:hover {
	    color: #6f5318;
	}
}

.projectText {
    padding: 12px 24px;
    max-width: 900px;
    margin: 0 auto 40px 0;
    background-color: $khaki;
    border-radius: 10px;
    position: relative;
    margin-top: -10px
}

.projectText strong {
  font-weight: 400;
  color: $olive;
}

.textTop .projectText {
    margin: 0 auto;
	margin-bottom: -17px;
	padding-bottom: 22px;
}

.projectImage img {
    width: 100%;
}

.textTop .projectImage {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#imgMag {
	text-align: center;
}

@media screen and (max-width: 650px) { 
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 550px) { 
    main {
        padding: 30px 30px 41px 30px;
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        padding: .8em 10em 1em 1em;
    }
    header h2 {
        font-size: 150%;
        font-weight: 600;
        margin: 0;
        letter-spacing: 1px;
    }

    header p {
        font-size: 80%;
        font-weight: 400;
        margin: 0;
    }
    .contact {
        position: absolute;
        right: 1em;
        top: 2em;
    }
    .icon:before {
        font-size: 1.5em;
        margin-right: .3em;
    }
    #galogo img {
        width: 24px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) { 
    body {
        font-size: .9em;
    }
    main {
        padding: 30px 30px 41px 30px;
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        padding: .8em 10em 1em 1em;
    }
    header h2 {
        font-size: 130%;
        font-weight: 600;
        letter-spacing: 1px;
            margin: 0 0 4px 0;
    line-height: 1.2em;
    }
}